<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Online Testing</title>
</head>

<body>
  <div class="jumbotron text-xs-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Welcome
        <%= name %></strong> ,Your CV have been selected from many of candidates, but the war not finished there is
      some exams you must solve them before the deadline .</p>
    <hr>

    <p class="lead">
      <a class="btn btn-primary btn-sm" href="<%= url %>" role="button">Go to exam</a>
    </p>
  </div>
</body>

</html>